rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth.uid != null;
    }
    function isOwner() {
      return resource.data.userUid == request.auth.uid;
    }
    match /users/{document=**} {
      allow read;
      allow create;
    }
    match /users/{id} {
      allow write: if resource.id == request.auth.uid;
    }
    match /entries/{document=**} {
      allow create: if signedIn();
      allow read: if signedIn() && isOwner();
      allow update: if signedIn() && isOwner;
      allow delete: if signedIn() && isOwner;
    }
  }
}