<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(deviceService.isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(deviceService.isHandset$ | async) ? 'over' : 'side'"
        [opened]="(deviceService.isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list (click)="closeDrawerIfHandset(drawer)">
        <a mat-list-item routerLink="/home">Home</a>
        <!-- <a mat-list-item routerLink="/recipes">Recepten</a> -->
        <a *ngIf="auth.user$ | async" mat-list-item routerLink="/account">My Account</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar fxLayout="row">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="deviceService.isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <button *ngIf="(deviceService.isHandset$ | async) === false" mat-icon-button aria-label="Back button" (click)="onBackClick()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span fxFlex class="center-content">Pouchy</span>
        <div *ngIf="auth.user$ | async as user; else login" fxLayout="row" class="avatar-circle">
          <img fxFlex [matMenuTriggerFor]="userMenu" [src]="user.photoURL + '=s32'" alt="Profiel foto">
          <mat-menu #userMenu="matMenu">
            <button mat-menu-item (click)="onAccountClick()">My Account</button>
            <button mat-menu-item (click)="onLogoutClick()">Sign Out</button>
          </mat-menu>
        </div>
        <ng-template #login>
          <button mat-raised-button (click)="auth.googleSignin()">Login</button>
        </ng-template>
      </mat-toolbar>
  
      <router-outlet></router-outlet>
  
    </mat-sidenav-content>
  </mat-sidenav-container>