@import './colors.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

.mat-menu-panel,
mat-card,
mat-dialog-container {
  border-radius: 8px !important;
}

.mat-raised-button {
  border-radius: 4px !important;
  background-color: $pouchy-green;
}

.center-content {
  text-align: center;
}

.align-content-right {
  text-align: right;
}

.page-padding {
  padding: 2em;
}

.clickable {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .mobile-center-content {
    text-align: center;
  }
}
